@import '../../../styles/variables.scss';
.redpacket {
  position: fixed;
  display: block;
  bottom: 100px;
  right: 15px;
  width: 67px;
  height: 59px;
  background: url('https://qiniucdn.jiliguala.com/devbanners/43f9ed2cafe6498591ac0f1f4758a9db.png');
  background-size: 100%;
  z-index: 100;
}

.item-page {
  // overflow: scroll;
  height: 100vh;
  // overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .tab-img {
    width: 343px;
    display: block;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .top-banner {
    position: relative;
    box-shadow: none;

    .banner-img {
      display: block;
      width: 100%;
      min-height: 100vw;
    }

    & > p {
      position: absolute;
      left: 0;
      width: 202px;
      font-family: Jiliguala-Bold;
      z-index: 100;
    }

    .banner-text {
      top: 61.5%;
      height: 26px;
      font-size: 14px;
      color: #f2ff00;
      font-weight: 600;
      text-align: center;
      line-height: 26px;
      border-radius: 0 100px 100px 0;
      background: linear-gradient(270deg, rgba(255, 32, 150, 1) 0%, rgba(170, 100, 255, 1) 100%);
      box-shadow: 1px 2px 3px 0px rgba(193, 41, 41, 0.62);
    }

    .banner-price {
      top: 65%;
      height: 65px;
      padding-left: 45px;
      color: #fff;
      text-align: left;
      line-height: 65px;

      span:first-child {
        font-size: 26px;
        font-weight: 600;
        vertical-align: super;
        padding-right: 4px;
      }

      span:last-child {
        font-size: 48px;
        font-weight: bold;
      }
    }

    .banner-oriPrice {
      top: 75%;
      height: 17px;
      line-height: 17px;
      padding-left: 66px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      line-height: 17px;

      span {
        text-decoration: line-through #fff;
      }
    }
  }

  .b-test {
    padding-bottom: 74px;
    .top-banner {
      .banner-img {
        height: auto;
        min-height: 8.85rem;
      }

      .banner-price {
        top: 74%;
        left: 9%;
        height: 50px;
        color: #fc5443;
        text-align: left;
        line-height: 50px;

        span:first-child {
          font-size: 46px;
        }

        .money {
          font-size: 30px;
          vertical-align: text-bottom;
        }
      }

      .info {
        top: 79%;
        right: 0;
        display: block;
        width: 100%;

        div {
          color: #9b9b9b;
          font-size: 12px;
          font-weight: 700;
          text-align: left;
        }

        .desc {
          position: absolute;
          right: 0;
          width: 32%;
          padding: 5px 10px;
          background-color: #efefef;
          border-radius: 11px 0 0 11px;

          span {
            color: #fc5643;
          }
        }
      }
    }
  }

  .info {
    position: absolute;
    display: flex;
    top: 60.8696%;
    width: 100%;
    height: 15%;

    .l {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      text-align: right;
    }

    .r {
      display: flex;
      align-items: center;
      padding-top: 14%;
    }

    .desc {
      color: #fff;
      font-weight: bold;
      font-size: 17px;
    }
  }

  .extra {
    position: absolute;
    bottom: 12px;
    width: 100%;
    padding: 7px 0;
    color: #404040;

    p {
      width: 335px;
      margin: 12px auto;
      padding-left: 63px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .footer-countdown-block {
    position: fixed;
    left: 0;
    bottom: 73px;
    display: flex;
    justify-content: space-between;
    height: 21px;
    width: 100%;
    padding: 0 4.5%;
    line-height: 21px;
    background: #ffe496;
    letter-spacing: 0px;
    white-space: nowrap;
    z-index: 300;

    .l {
      font-size: 12px;
      color: #ff7000;
    }

    .r {
      color: #ff0f0f;
      font-size: 12px;
    }

    em {
      display: inline-block;
      margin: 0 2px;
      // width: 20px;
      color: #ff0f0f;
      font-size: 12px;
      font-style: normal;
    }
  }

  //v1.9未注册挽留弹框
  .rtunregiste-cont {
    p {
      color: rgba(245, 244, 165, 1);

      .nick {
        display: inline-block;
        max-width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
      }
    }

    p:first-child {
      height: 30px;
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
    }

    p:last-child {
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  //v2.0购买未添加填写地址挽留弹框
  .rtfollow-cont {
    .rt-popup-cont {
      padding: 0 20px;
    }

    ::v-deep .qrimg {
      width: 65%;
      height: auto;
      top: 47%;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }

    .tip {
      p:first-child {
        font-size: 22px;
        color: rgba(38, 192, 123, 1);
      }

      p:last-child {
        height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(64, 64, 64, 1);
        line-height: 20px;
        margin-top: 10px;
      }
    }
  }
}
// 邀请人假红包弹层按钮
.inviteButton {
  width: 180px;
  height: 50px;
  background: linear-gradient(180deg, #fff48d 0%, #ffdc20 100%);
  box-shadow: 0px 20px 20px 0px rgba(220, 71, 17, 0.23);
  border-radius: 43px;
  font-size: 18px;
  font-weight: 600;
  color: #a0471e;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 275px;
  left: 63px;
}
// 促销弹窗按钮
/* .homePopupButton{
  width: 180px;
  height: 48px;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #93390f;
  line-height: 18px;
  padding: 15px 50px;
  border-radius: 43px;
  background-color: #fff48d;
  background-image: linear-gradient(#fff48d, #ffd320);
} */
// 扩科优惠红包弹窗
// .discountImg {
//   ::v-deep img {
//     width: 100vw!important;
//  }
// }

// 购买页思维查看按钮按钮
.answerButton {
  width: 200px;
  height: 48px;
  margin: 20px auto 0;
}
